* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: #497c61;
}

.textAreab64 {
  display: block;
  width: 700;
  padding-left: 30;
  margin: 50px 50px;
}

.textAreab64 .mainTitle {
  position: relative;
  right: 30%;
  width: 40%;
}

.textAreab64 .mainTitle h2 {
  color: #e8f9fd;
  background-color: #384d32;
}

.textAreab64 .textEncode h4 {
  color: #e8f9fd;
}

.decodeB64 {
  position: relative;
  transform: translate(50%, -131.5%);
}

.encodeAreaAES {
  position: relative;
  transform: translate(0%, -100%);
}

.decodedAreaAES {
  position: relative;
  transform: translate(0%, -110%);
}
