* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: #2f302f;
}

.textAreab64 {
  display: block;
  width: 700;
  padding-left: 30;
  margin: 50px 50px;
}

.textAreab64 .mainTitle {
  position: relative;
  right: 30%;
  width: 40%;
}

.textAreab64 .mainTitle h2 {
  color: #e8f9fd;
  background-color: #992b2b;
}

.textAreab64 .textEncode, .textEncode2 h4 {
  color: #e8f9fd;
  width: 40%;
  word-wrap: break-word;
  transform: translate(-75%, 0);
}

.encodeB64 {
  position: static;
}
.decodeB64 {
  position: static;
  transform: translate(50%, -35vh);
}

.encodeAreaAES {
  position: relative;
  transform: translate(0%, -100%);
}

.encodeAreaAES .textEncode2 h4{
  position: absolute;
  transform: translate(93%, -10vh);
  width: 40%;
  word-wrap: break-word;

}

.decodedAreaAES {
  position: relative;
  transform: translate(0%, -110%);
}

button{
  color: #e8f9fd;
  background-color: #992b2b;
  border-width: 0;
  cursor: pointer;
}

.passwordButton{
  position: relative;
  transform: translate(73vh, -4vh);
}